*{
    box-sizing: border-box;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
/*Grids e containers*/
.container {
    margin: 0 auto;
	width: 99%;
}
@media(min-width: 55rem){
    .container {
	   width: 80%;
    }
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 1.1rem;
}
@media(min-width: 55rem){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/*colors buttons dark*/
.botao {
	padding: 1rem 2rem;
}
.blue{
    background-color: #3498db;
    color: #fff;
}
.red{
    background-color: #FF1744;
    color: #fff;
}
.green{
    background-color: #00E676;
    border: 0.1rem solid #00E676;
    color: #fff;
}
.orange{
    background-color: #FFC107;
    color: #fff;
}
/*controle links e botões*/
a{text-decoration: none;}
a:hover{text-decoration: none;}
button{
    padding: 1rem 2rem;
}
/*Controle de textos*/
h1, h2, h3, h4, h5{
    color: rgba(56, 47, 47, 0.81);
}
p{font-size: 1.2rem;}
.texto-cento{text-align: center;}
.text-left{text-align: left;}
.text-direita{text-align: right;}
/*controle de listas*/
li{list-style-type: none;}
/*cores buttons clean*/
.green-clean{
    background-color: transparent;
    border: 0.1rem solid  #00E676;    
    color:  #00E676;
}
.blue-clean{
    background-color: transparent;
    border: 0.1rem solid #3498db;   
    color: #3498db;
}
.red-clean{
    background-color: transparent;
    border: 0.1rem solid #FF1744;   
    color: #FF1744;
}
.orange-clean{
    background-color: transparent;   
    border: 0.1rem solid #FFC107;
    color: #FFC107;
}
/*Menu*/
.toggle{font-size:1.08rem;}
div.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1;      
}
nav.topnav {
  overflow: hidden;
  background-color: #333;    
}
.topnav a {
  float: left;
  font-family: 'Poiret One', cursive;       
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 0.89rem;
}
.topnav a:hover { 
  color: crimson;
  transition: 1s;    
}
.topnav a:first-child{
    background-color: crimson;
    font-size: 1.2rem;    
}
.topnav a:first-child:hover{color: #fff;}
.topnav .icon {
  display: none;
}

@media(max-width: 43rem) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*form*/
form{
    margin: 0 auto;
    width: 100%;
}
form input["email"]{
    padding: 0.80rem;
    width: 136%;
}
form select{
    padding: 0.80rem;
    width: 194%;
}
form input[type="email"]{
    padding: 0.80rem;
    width: 136%;
}
form input[type="submit"]{padding: 1rem 2rem;}
form input[type="text"]{
    padding: 0.80rem;
    width: 136%;
}
form textarea{
    padding: 0.80rem;
    width: 145%;
}
@media(min-width: 55rem){
    form input["email"]{width: 80%;}
    form select{width: 80%;}
    form input[type="email"]{width: 80%;}    
    form input[type="text"]{width: 80%;}
    form textarea{width: 80%;}
}
/*Form clean*/
.clean form input[type="text"]{
    background-color: transparent;
    border: 0.1rem solid rgba(93, 105, 111, 0.36);   
}
.clean form input[type="email"]{
    background-color: transparent;
    border: 0.1rem solid rgba(93, 105, 111, 0.36);   
}
.clean form select{
    background-color: transparent;
    border: 0.1rem solid rgba(93, 105, 111, 0.36);
    color:  rgba(93, 105, 111, 0.36);   
}
.clean form textarea{
    background-color: transparent;
    border: 0.1rem solid rgba(93, 105, 111, 0.36);  
}
.clean form label{color: #2c3e50;}
/*form dark*/
.blueSection form input[type="text"]{
    background-color: transparent;
    border: 0.1rem solid rgba(255, 255, 255, 0.17);   
}
.blueSection form input[type="email"]{
    background-color: transparent;
    border: 0.1rem solid rgba(255, 255, 255, 0.17);   
}
.blueSection form textarea{
    background-color: transparent;
    border: 0.1rem solid rgba(255, 255, 255, 0.17);   
}
.blueSection form select{
    background-color: transparent;
    border: 0.1rem solid rgba(255, 255, 255, 0.17);
    color: #fff;    
}
.blueSection form input[type="submit"]{border: none;}
.blueSection form label{color: aliceblue;}
/*controle imagens*/
img{
    display: block;
    width: 100%;
}
.img-circle-min {
    border-radius: 50%;
    width: 57%;
    height: 31vh;
}
.img-circle-sm {
	border-radius: 50%;
    width: 79%;
    height: 41vh;
}
.img-crcle-big {
	border-radius: 50%;
    width: 100%;
    height: 53vh;
}
@media(min-width: 55rem){
    img{display: inline;}
    .img-circle-min {
        border-radius: 50%;
        width: 22%;
        height: 31vh;
    }
    .img-circle-sm {
        border-radius: 50%;
        width: 34%;
        height: 50vh;
    }
    .img-crcle-big {
        border-radius: 50%;
        width: 40%;
        height: 60vh
    }
}
iframe{width: 100%;}
/*********
    Estilos fixos da page
*****/
/*Overlay*/
.overlay{
    background-color: rgba(0, 0, 0, 0.13);
    width: 100%;
    height: 100%;
}
/*header*/
header{
    background-image: url(header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 41vh;
}
header .container{padding: 8rem 0;}
header h2{
    color: #fff;
    font-size: 4.4rem;
    font-family: 'Righteous', cursive;
    text-align: center;
}
@media(min-width: 55rem){
    header{height: 100vh;}
    header .container{padding: 16rem 0;}
    header h2{font-size: 8rem;}
}
/*sections*/
.blueSection{background-color: #2c3e50;}
.blueSection p{color: #fff;}
.clean{color: #2c3e50;}
.color{
    background-color: crimson;
    color: #fff;
    font-family: arial;
    font-size: 1.2rem;
    text-align: center;
    height: 10vh;
    margin-left: 0.4%;
    margin-bottom: 0.4%;
    padding: 2rem; 
}
section .container{padding: 2rem 0;}
section h2{    
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-left: 3.5%;
}
section p{font-family: 'Poiret One', cursive;}
.blueSection h2{color: #fff;}
.clean h2{color: #2c3e50;}
section label{    
    font-family: 'Poiret One', cursive;
    font-size: 0.80rem;
}
@media(min-width: 55rem){
    section label{
        font-size: 1.2rem;
    }
}
/*Footer*/
footer .container{padding: 2rem 0;}
footer h5{
        font-family: 'Cabin', sans-serif;
        font-size: 1.4rem;
}
footer p{
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
}
@media(min-width: 55rem){
    footer{
        text-align: center;
    }
    footer h5{
        font-family: 'Cabin', sans-serif;
        font-size: 1.8rem;
    }
}
/*outras divs*/
.meio{
    border-top: 0.1rem solid rgba(51, 51, 51, 0.35);
    margin: 0 auto;
    width: 100%;
}
pre{
  background-color: rgba(0,0,0,0.08);
  border-left: 3px solid rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 0;
  padding: 1rem 0;
  width: 100%;    
}

pre.php::before{
  content: '<?php';
  display:block;
  margin:0 0 0.6rem 0.6rem;
}
pre.php::after{
  content: '?>';
  display:block;
  margin: 1rem 0 0 1rem;
}
