/*Vars*/
:root{
    --black: #020202;
    --varde_claro: #37F3AE;
}
/*Reset*/
*{
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 300 100% ;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
audio, img, iframe, video{height: auto;}
audio, img, .bt, iframe, video{display: inline-block;}
.menu .container_menu,
.row{
    display: flex;
}
/*Buttons*/
.bt{
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 3px 6px 0 #000;
    color: #fff;
    font-size: .98rem;
    font-weight: 600;
    margin-top: 3px;
    padding: 8px 2rem;
}
/*Grids*/
.container{
    margin: 0 auto; 
    width: 99%;
}
[class*="k-"]{padding: 15px;}
.row{flex-direction: column;}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media(min-width: 700px){
    .container{width: 90%;}
    .k-1 {width: 8.33%;}
    .k-2 {width: 16.66%;}
    .k-3 {width: 25%;}
    .k-4 {width: 33.33%;}
    .k-5 {width: 41.66%;}
    .k-6 {width: 50%;}
    .k-7 {width: 58.33%;}
    .k-8 {width: 66.66%;}
    .k-9 {width: 75%;}
    .k-10 {width: 83.33%;}
    .k-11 {width: 91.66%;}
    .k-12 {width: 100%;}
    .row{flex-direction: row;}
}